<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Websocket tests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %}
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
  </head>
  <body>
    <h1>{{ request.user }}</h1>
    {% if devices %}
    <table style="width:30%">
      <tr>
        <th>Name</th>
        <th>Status</th>    
      </tr>
      {% for device in devices %}
      <tr>
        <td>{{ device.name }}</td>
        <td>
          <button id='{{device.name}}' value="{{device.status|lower}}" onclick="send('{{device.name}}');">{{device.status | lower}}</button>
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There are no devices in the database.</p>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script type = "text/javascript">
      // $(document).ready(function() {
      //    document.write("Hello, World!");
      // });
   </script>
   <script>
    console.log(window.location);
    var loc = window.location;
    var wsStart = "ws://";
    if (loc.protocol == "https:") {
      wsStart = "wss://";
    }
    var endpoint = wsStart + loc.host + loc.pathname + "/";
    var socket = new ReconnectingWebSocket(endpoint);

    socket.onmessage = function(e) {
      // console.log("message");
      console.log(e.data);
      // console.log(typeof(e.data));
      var obj = JSON.parse(e.data);
      // console.log(obj['name']);
      // console.log(obj['status']);
      $('#'+obj['name']).val(obj['status']);
      $('#'+obj['name']).html(obj['status'].toString());      
    };
    socket.onopen = function(e) {
      console.log("open", e);
    };
    socket.onerror = function(e) {
      console.log("error", e);
    };
    socket.onclose = function(e) {
      console.log("close", e);
    };
    function send(name) {
      // status = (status == 'true');
      // console.log(!status);
      // if(id=='#on') {
      //   $(id).html('off')
      // } else {
      //   $(id).html('on')
      // }
      var status = $('#'+name).val()
      // console.log('status' + typeof(status));
      status = (status == 'true');
      var data = {
        name: name,
        status: !status
      };
      socket.send(JSON.stringify(data));
    }
  </script>
  </body>
</html>
